@media screen and (max-width: 999px) {
    #container {
        width: 95%; 
    }
}

@media screen and (min-width:1000px) {
    #container {
        width: 950px;
    }
}

#icon {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
}

.portfolio_article {
    border: 1px solid red;
}

.portfolio_article h2 {
    border: 1px solid black;
}

.portfolio_article p {
    border: 1px solid blue;
}

#container {
    margin: auto;
    background-color: white;
    border: 1px solid white;
	font-family: 'Oswald',sans-serif;
}

#container h1 {
    border: 1px solid black;
    text-align: center;
}
