@media screen and (max-width: 499px) {
    #container {
        width: 
    }
}
@media screen and (min-width: 500px) and (max-width: 999px) {
    #container {
        
    }
} 
@media screen and (min-width:1000px) {
    #container {
    }
}

#icon {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.portfolio_article {
    border: 1px solid red;
}

.portfolio_article h2 {
    border: 1px solid black;
}

.portfolio_article p {
    border: 1px solid blue;
}

#container {
    width: 900px;
    margin: auto;
    background-color: white;
    border: 1px solid white;
}